@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --body-bg: #1e1e1e;
  --body--bg: #1e1e1e;
  --events--bg: #262626;
  --border-color: #363636;
  --border-color-2: #454545;
  --border-color-3: #454545;
  --color--white: #fff;
  --color--purple: #7263f3;
  --color--black: #000;
  --box-shadow: 0 0 15px rgba(0,0,0,0.1);
  --brad-1: 0.5rem;
  --brad-2: 1rem;
  --brad-3: 1.5rem;
  --brad-4: 2rem;
}


.dark-theme{
  --body-bg: #1e1e1e;
  --body--bg: white;
  --events--bg: #262626;
  --border-color: white;
  --border-color-2: #454545;
  --border-color-3: white;
  --color--white: #fff;
  --color--purple: #7263f3;
  --color--black: #000;
  --box-shadow: 0 0 15px rgba(0,0,0,0.1);
  --brad-1: 0.5rem;
  --brad-2: 1rem;
  --brad-3: 1.5rem;
  --brad-4: 2rem;
}
.light-theme{
  --body-bg: white;
  --body--bg: #1e1e1e;
  --events--bg: white;
  --border-color: white;
  --border-color-2: #454545;
  --color--white: #fff;
  --color--purple: #7263f3;
  --color--black: #000;
  --box-shadow: 0 0 15px rgba(0,0,0,0.1);
  --brad-1: 0.5rem;
  --brad-2: 1rem;
  --brad-3: 1.5rem;
  --brad-4: 2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: var(--body-bg);
}


.content{
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.map-container{
  width:100%;
  height: 100%;
  position: relative;
  border-radius: var(--brad-2);
  // border: 2px solid var(--border-color);
  border: 2px solid var(--border-color-3);

}

.popup{
  h2{
    font-size: 1rem;
    color: rgb(111,207,151);

  }
    span{
      margin-right: 10px;

    }
  
  button{
    color: rgb(111,207,151);

    // span{
    //   margin-right: 5px;
    // }
  }
  // background-color: var(--body--bg) !important;
  // color: var(--color--white) !important;
}

.favs-div{
  flex:1;
  padding: 1rem ;
  border-radius: var(--brad-2);
  background-color: var(--events--bg);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--border-color);
  color: var(--body--bg);
  overflow-y: auto;
    border: 2px solid var(--border-color-3);


  &::-webkit-scrollbar{
    width:4px;
  }
  h2{
    text-align: center;
  }

  li{
    padding: 0.8rem;
    margin: 1rem 0;
    border-radius: var(--brad-1);
    background-color: var(--border-color-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border: 2px solid var(--border-color-3);
    color: white;


    h4{
      font-size: 0.8rem;
    }
  }
}

.search-btn{
    border: 2px solid var(--border-color-3);
    color: var(--border-color-3);

}
 .search-input{
    border: 2px solid var(--border-color-3);

}